{
  "esmcat_version": "0.1.0",
  "id": "__id__",
  "description": "__description__",
  "catalog_file": "__cat_file__",
  "attributes": [
    {
      "column_name": "variable_id",
      "vocabulary": ""
    },
    {
      "column_name": "CORDEX_domain",
      "vocabulary": ""
    },
    {
      "column_name": "driving_model_id",
      "vocabulary": ""
    },
    {
      "column_name": "experiment_id",
      "vocabulary": "https://raw.githubusercontent.com/WCRP-CMIP/CMIP6_CVs/master/CMIP6_experiment_id.json"
    },
    { "column_name": "member", "vocabulary": "" },
    {
      "column_name": "model_id",
      "vocabulary": ""
    },
    {
      "column_name": "rcm_version_id",
      "vocabulary": ""
    },
    {
      "column_name": "frequency",
      "vocabulary": ""
    },
    {
      "column_name": "institute_id",
      "vocabulary": ""
    },
    {
      "column_name": "version",
      "vocabulary": ""
    }
  ],
  "assets": {
    "column_name": "path",
    "format": "netcdf"
  },
  "aggregation_control": {
    "variable_column_name": "variable_id",
    "groupby_attrs": [
      "CORDEX_domain",
      "driving_model_id",
      "institute_id",
      "model_id",
      "experiment_id",
      "frequency"
    ],
    "aggregations": [
      {
        "type": "union",
        "attribute_name": "variable_id"
      },
      {
        "type": "join_existing",
        "attribute_name": "time_range",
        "options": { "dim": "time", "coords": "minimal", "compat": "override" }
      },
      {
        "type": "join_new",
        "attribute_name": "member",
        "options": { "coords": "minimal", "compat": "override" }
      }
    ]
  }
}

